/* Generic - for all projects */
html {
  box-sizing: margin-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #2c2141;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  max-width: 624px;
  margin: 16px;
}

.card {
  padding: 32px;
  display: flex;
  align-items: flex-start;
}

.card__description {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  padding-left: 32px;
}

.card__heading {
  font-size: 32px;
  margin: 0;
  font-weight: normal;
  padding-left: 32px;
}
.card__picture {
  border-radius: 50%;
  display: block;
  flex-shrink: 0;
}

.card__position {
  color: #545454;
  font-size: 18px;
  font-style: italic;
  margin: 0;
  padding-left: 32px;
}

.external-link {
  color: #e20613;
  text-decoration: none;
}

.special {
  color: #ed6d05;
}
